<h1>カテゴリ一覧</h1>
<%= link_to '新規作成', new_site_category_url, class: 'btn btn-primary' %>
<% @categories.each do |category| %>
  <h3><%= category.name %></h3>
  <ul>
    <li><%= link_to '編集', edit_site_category_url(@site, category) %></li>
  </ul>
<% end %>